// Text Catppuccin font variables, ported from user.css
$textcat-font-family: "JetBrains Mono", monospace;
$textcat-font-size: 14px;
$textcat-font-weight: 400;
$textcat-line-height: 1.2;
$textcat-font-family-header: "asciid";
$textcat-font-size-multiplier-header: 4;
