// Text Catppuccin color variables, ported from Spicetify theme
$textcat-accent: #cba6f7;
$textcat-accent-active: #cba6f7;
$textcat-accent-inactive: #1e1e2e;
$textcat-banner: #cba6f7;
$textcat-border-active: #cba6f7;
$textcat-border-inactive: #313244;
$textcat-header: #585b70;
$textcat-highlight: #cba6f7;
$textcat-main: #1e1e2e;
$textcat-notification: #89b4fa;
$textcat-notification-error: #f38ba8;
$textcat-subtext: #a6adc8;
$textcat-text: #cdd6f4;
